<section class="content-section bg-light" id="title">
	<div class ="title">
		<div class ="container my-auto">
			<h2 class="text-center mb-5">
				<em><h1> 연구동 GRAZIE </h1></em>
			</h2>
		</div>
	</div>
</section>

<section class="get">
	<div class ="order">
		<form method="get">
			<div class="form-group">
				<label>메뉴</label>
				<input type="text" class="form-control" [(ngModel)]='username' name="username">
			</div>
			<div class="form-group">
				<label>number</label>
				<input type="password" class="form-control" [(ngModel)]='password' name="password">
			</div>
			<div class="form-group">
				<label>takeout</label>
				<input type="password" class="form-control" [(ngModel)]='password' name="password">
			</div>
			<div class="form-group">
				<label>timeofarrival</label>
				<input type="password" class="form-control" [(ngModel)]='password' name="password">
			</div>
			
		</form>
	</div>
</section>