<section class ="content-section bg-light" id="info">
	<div class ="info">
		<h2 class="text-center mb-5">
			<em><h2>연구관 그라지에(Grazie)</h2></em>
		</h2>
	</div>
</section>

<!--menutoggle-->
<section class ="menubar">
	<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['menugraziecoffee']">COFFEE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['menugrazielatte']">LATTE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['menugraziecoffee']">TEA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['menugraziecoffee']">SMOOTHIE</a>
  </li>
</ul>
</section>

<!--MENU-->
<section class = "content-section" id="menu">
	<div class="menu">
		<div class ="row">
			<div class ="te-center my-auto btn-xl">
				<figure class="figure ml-10">
					<img src ="assets/img/americano.jpg" height = 150px width = 150px>
					<figcaption class="figure-caption"> AMERICANO(HOT/ICE)</figcaption>
				</figure>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<figure class="figure ml-10">
					<img src ="assets/img/hazelnut.png" height = 180px width = 160px>
					<figcaption class="figure-caption">HAZELNUT(HOT/ICE)</figcaption>
				</figure>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<figure class="figure ml-10">
					<img src ="assets/img/viena.jpg" height = 150px width = 150px>
					<figcaption class="figure-caption">VIENNA COFFE(HOT/ICE)</figcaption>
				</figure>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<figure class="figure ml-10">
					<img src ="assets/img/viena.jpg" height = 150px width = 150px>
					<figcaption class="figure-caption">VIENNA COFFE(HOT/ICE)</figcaption>
				</figure>
			</div>
		</div>
	</div>

</section>



