<!-- SEARCH CAFE -->
<br>
<br>
    <section class="content-section text-black text-center" id="services">
      <div class="container">
        <form>
              <div class="form-row col-lg-8 mx-auto">
              <h2 class="text-secondary mb-0">SEARCH</h2>
                <div class="col-5 col-md-7 mb-5">
                  <input type="cafename" class="form-control form-control-lg" placeholder="search your cafe...">
                </div>
                <div class="col-10 col-md-2">
                  <button type="submit" class="btn btn-warning btn-lg btn-warning">검색하기</button>
                </div>
              </div>
        </form>
        
        <div class="row">

          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          
            
            <h4>
              <a class = cafe [routerLink]="['/menugraziecoffee']">
               <img src ="assets/img/grazie.jpg" height = 150px width = 150px>
               <br><br><strong>연구관 Grazie</strong>
              </a>
            </h4>
            
          </div>
          
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <h4>
              <a class = cafe [routerLink]="['/menugraziecoffeemi']">
                <img src ="assets/img/grazie.jpg" height = 150px width = 150px>
                <br><br><strong>미래관 Grazie</strong>
              </a>
            </h4>
          </div>

          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <h4>
              <a class = cafe>
                <img src ="assets/img/ediya.png" height = 150px width = 150px>
                <br><br><strong>이디야</strong>
              </a>
            </h4>
          </div>

          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <h4>
              <a class = cafe>
                <img src ="assets/img/hollys.png" height = 150px width = 150px>
                <br><br><strong>할리스</strong>
              </a>
            </h4>
          </div>
        </div>
      </div>
    </section>