
<!-- Header -->
    <section class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">WELCOM CAFE 공사중</h1>
        <h3 class="mb-5">
          <em><h4>당신의 카페 주문을 더욱 쉽고 빠르게!</h4></em>
        </h3>
        <p class = "lead mb-5"> 홈페이지로 간단하게 메뉴와 위치를 확인하고 앱에서 주문하세요! <br>당신의 카페 주문이 더욱 쉽고 간편해 집니다.</p>
        <h5><h5>My cafe를 사용하고 계시는 사장님이라면?</h5><br>
        <a class ="btn btn-dark btn-xl js-scroll-trigger" [routerLink]="['/owner']">사장님 페이지  GO GO</a>
      </h5>
    </div>
  </section>


