<section class="content-section bg-light" id="info">
	<div class="info">
		<div class="container my-auto">
			<h2 class="text-center mb-5">
				<em><h1> 어서오세요 사장님 </h1></em>
			</h2>
		</div>
	</div>
</section>

<section class="content-section" id = "login">
	<h2 class="page-header">Login</h2>
	<form (submit)="onLoginSubmit()">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" [(ngModel)]='username' name="username">
		</div>
		<div class="form-group">
			<label>password</label>
			<input type="password" class="form-control" [(ngModel)]='password' name="password">
		</div>
		<input type="submit" class="btn btn-primary" value="Login">

	</form>
	<br>
	<div class="container text-center my-auto">
		<h5>아직 회원이 아니시라면?</h5><br>
		<a class ="btn btn-outline-info btn-xl js-scroll-trigger" [routerLink]="['/register']">가입하기</a>
	</div>
</section>